{% extends "layouts/base.html" %}

{% block title %}
IMS | Items
{% endblock %}

{% block content %}
<div class="container pt-5">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">IMS Items</h1>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1.</td>
                        <td>Monitor</td>
                        <td>LED Monitor with 144hz</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}